<div class="entry" style="background: #{{ entry.hex }};">

    <div class="absolute">

        <h1>#{{ entry.hex }}</h1>
        <p>{{ entry.definition }}</p>

    </div>
    <div class="gradient" style="background: linear-gradient(#{{ entry.hex }}, #{{ nextEntry.hex }});"></div>
</div>
